@import './style/first.css';
@import './style/header.css';
@import './components/mobile.css';

.Mainwrapper{
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-direction: row;
  /* background-color: rgb(55, 56, 163); */

}

.parent{
  width: 50%;
  background-color: aqua;
  margin: 5px;
  height: 200px;
}

.child{
  width: 50%;
  background-color: rgb(2, 99, 99);
  margin: 5px;
  height: 200px;
}