@import './style/first.css';
@import './style/header.css';
@import './components/mobile.css';

.Mainwrapper{
  width: 100%;
  margin: 0;
  padding: 0;
  /* background-color: rgb(55, 56, 163); */

}

.parent{
  width: 50%;
  background-color: aqua;
  margin: 5px;
  height: 200px;
}

.child{
  width: 50%;
  background-color: rgb(2, 99, 99);
  margin: 5px;
  height: 200px;
}

.Navbar{
  width: 100%;
  height: 70px;
  background-color: rgb(255, 140, 0);
  margin-top: 10px;
}

.Navbar ul{
  margin:2px;
  margin-top: 10px;
  margin-right: auto;
}
.Navbar ul li {
  margin:5px;
  padding: 5px;
  background-color: aliceblue;
  font-size: 14px;
  color: black;
  font-weight: 700;
  display: inline;
  list-style: none;
}


.user{
  display: flex;
  background-color: rgb(237, 117, 117);
}
.cards{
  width:70%;
  grid-template-columns:3fr 3fr 3fr;
  gap:3px 2px;
  background-color: rgb(247, 245, 112);
  border-radius:5px;
  border: 4px solid #494141;
}

.hookshead{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(196, 246, 30);
}